.indexBody {
    background-color: aqua;
}


#bearLogo {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.welcome{
    text-align: center;
    font-family: cursive; 
}






.gameDevbody {
    background-color: aqua;
}


#navbar navbar-inverse {}
